* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'M Plus 1p', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
  flex-direction: column;
}

.content {
  padding: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: white; /* 白文字 */
}

p {
  font-size: 40px;
}
