* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'M Plus 1p', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.popup.show {
  display: flex;
  opacity: 1;
}

.popup-content {
  background-color: white;
  padding: 40px;
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
  text-align: center;
  transform: scale(0.8);
  animation: popup-animation 0.5s forwards;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.btn {
  background-color: white;
  color: black;
  padding: 20px 40px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f0f0f0;
}

p {
  font-size: 40px;
}

@keyframes popup-animation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
