* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black; /* 背景色を黒に設定 */
  color: white; /* 文字色を白に設定 */
  font-family: 'M Plus 1p', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
  flex-direction: column;
}

.content {
  padding: 20px;
}

.title {
  font-size: 100px; /* テキストを大きく */
  font-weight: bold;
  color: white; /* 白文字 */
  text-align: center;
}

p {
  font-size: 80px;
}
